/* styles.css */
@keyframes waterAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('Img18.jpeg') repeat-x; /* Add your water texture image here */
    background-size: cover;
    background-attachment: fixed;
    animation: waterAnimation 15s linear infinite; /* Animation effect */

}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header {
    background-color: #555; /* Black header */
    color: yellow;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
    font-size: 24px;
}

a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.drip-menu ul {
    list-style-type: none;
    padding: 0;
}

.drip-menu li {
    margin: 10px 0;
}

.drip-container {
    text-align: center;
}

.main-image {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
    border: 5px solid yellow;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;  /* Forces only one column */
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.gallery-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; }

.gallery-image:hover {
    transform: scale(1.05);
}

.booking {
    margin-top: 20px;
    position: absolute;
    left: 40%;
   
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color:  #e6b800;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 35%;
}

.button:hover {
    background-color:  #555;
}



