/* skincare */



.container {
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #FFA500; /* Yellow color */
}

.skin-type {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    background: #f2f2f2; /* Light grey background */
}

.skin-type h2 {
    color: #FFA500;
    margin-bottom: 10px;
}

.routine {
    margin-top: 10px;
}

.routine h3 {
    color: darkgrey; /* Darker grey for headings */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove padding */
}

li {
    background: #FFF; /* White background for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    color: black;
}
